# Módulo 4

La función **open( )** permite seleccionar un archivo (objeto) para luego implementar un método para interpretar o leer el contenido. 

La función posee la siguiente estructura:

In [ ]:
File1 = open('/resources/data/Example.txt','r')

Se utiliza la función open para leer los datos del archivo, entre paréntesis es el camino del archivo cuyo primer parámetro lo conforma la suma del directorio y el nombre del archivo. El segundo parámetro se le conoce como el modo; valores comúnmente usados para leeerlos incluye 'r' de reading o lectura, y 'w' para writing o escritura. 

Podemos utilizar el atributo **.name** para obtener el nombre del archivo, el resultado es un string que contiene el nombre del archivo. Se usa el el atributo **.mode** para saber en qué modo se esta trabajando dicho archivo, en 'r' o 'w'.

El método **.close()** ciera el archivo objeto. Para evitar esto, se utiliza la declaración **with** antes de **open( )** puesto que esta cierra automáticamente el archivo, pero al usar with tenemos que acompañarlo con **as** para designar la variable:

In [ ]:
with open('Example1.txt','r') as File1:
  file_stuff = File1.read() # El método read guarda los valores del archivo en la variable file_stuff
  print(file_stuff)
print(File1.closed) # Sólo es un indicador
print(files_stuff)

Podemos apilar cada elemento dentro de una lista mediante el comando **.readlines( )** con esto se creará una lista, en caso de haber saltos estos de denotarán dentro de la lista mediante un \n. Si sólo se usa el método **.readline( )** únicamente se leerá la primer línea del archivo de texto y se guardará en una lista. Si se vuelve a llamar se llamará la siguiente línea y así sucesivamente, para esto igual podemos invocar un ciclo:

In [ ]:
for line in File1:
  print(line)

Se puede aplicar el método **.write( )** para escribir datos sobre el archivo como resultado se puede escribir cualquier línea dentro del mismo archivo.

In [ ]:
File1 = open('/resources/data/Example.txt','w')

De igual forma:

In [ ]:
with open('Example1.txt','r') as File1:
  File1.write('This is line A\n')
  File1.write('This is line B\n')

Si invocamos una lista con varios elementos de igual forma podemos encontrar que la declaración iterativa pude aplicar:

In [ ]:
Lines = ['This is line A\n','This is line B\n','This is line C']
with open('/resources/data/Example.txt','w') as File1:
  for line in Lines:

    File1.write(line)

Sin embargo, este comando no reescribe el archivo original de texto, lo que hace es crear uno nuevo con las nuevas características de texto o elementos añadidos, para poder modificar el archivo original utilizamos un prefijo 'a' al final de append dentro del comando with.

In [ ]:
with open('/resources/data/Example.txt','a') as File1:
  File1.write('This is line C')

Se puede copiar un nuevo archivo de la siguiente forma:

In [ ]:
with open('Example1.txt','r') as readfile:
  with open('Example3.txt','w') as writefile:
    for line in readfiles:

      writefile.write(line)

# Data con Pandas

Las dependencias o librerías son código preescrito que ayudan a resolver problemas, *Pandas* es una de esas librerías. Para hacer usa de ella dentro de nuestro código se utiliza el comando **import pandas**

Para leer un archivo .csv utlizamos la función de pandas:


```
import pandas
csv_path = 'file1.csv'
df = pandas.read_csv(csv_path)

```
Con la declaración **as**:


```
import pandas as pd
csv_path = 'file1.csv'
df = pd.read_csv(csv_path)
```
Para utilizar marcos de datos se tiene la siguiente línea:


```
csv_path = 'file1.csv' # esta variable guarda el camino del archivo .csv
df = pd.read_csv(csv_path) # la función de pandas lee este archivo y se guarda en dataframe
df.head() # Este método te muestra las primeras cinco filas del dataframe
```
De igual forma para leer un archivo de **excel**:


```
xlsx_parh='file1.xlsx'
df = pd.read_excel(xlsx_path) # Con esta función panda te ayuda a leer el archivo de excel.
df.head()
```

Un dataframe está compuesto de filas y columnas, se pueden crear dataframes de diccionarios:

In [12]:
import pandas as pd
# Las llaves se importan como columnas, los valores como filas.
songs = {'Album':['Thriller','Back in Black','The Dark Side of the Moon','The Bodyguard','Imagine'],'Released':[1982,1980,1973,1992,1971],'Length':['00:42:19','00:42:11','00:42:49','00:57:44','00:39:29']}
songs_frame = pd.DataFrame(songs)
songs_frame.head()

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4                    Imagine      1971  00:39:29

Se pueden extraer dataframes independientes de un arreglo ya establecido por medio de doble brackets [[]]:

In [13]:
Length_df_songs = songs_frame[['Length']]
Length_df_songs.head()

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:39:29

Para acceder a elementos únicos dentro de una matriz de datos podemos utilizar el método **ix**


```
#[filas,columnas]
df.ix[0,0]:'elemento'
```

Con este mismo método podemos hacer slicing o cortado al indicar la instrucción:


```
z=df.ix[0:2,0:3]
```

Existe una función para encontrar y clasificar elementos únicos dentro de un dataframe de tal modo que se extraigan dichos elementos:


```
df['Released'].unique()
```
Para seleccionar estos dentro de un nuevo dataframe, podemos guiarnos mediante las desigualdades, por ejemplo:


```
# Sea un dataframe que tenga una columna con los albumes y el año de lanzamiento
df['Released']>=1980 # te agarra los valores de 1979 y los compara de forma booleana, es decir cuales son los que cumplen dicha condición en T o F.
df1 = df[df['Released']>=1980] # aquí los guarda en un nuevo dataframe
```
Para salvar un archivo se usa el método **.to_csv** o cualquier otro archivo:


```
df1.to_csv('new_songs.csv')
```

#Quizzes del laboratorio:

In [17]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [18]:
df['a'].unique()

array([1, 2])

In [19]:
df[df['a']<2]

   a  b
0  1  1
2  1  1

In [20]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [21]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [22]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64